#playlist-namecolumn {
    color: #fdfdfd;
    max-width: 100%;
    margin-bottom: 4px;
}

.r1 {
    width: 300px;
    flex: 0 0 auto;
}

.r2 {
    width: 120px;
    text-align: center;
}

.r3 {
    width: 120px;
}

.r4 {
    width: 10px;
}

.r5 {
    flex: 1 1 auto;
    text-align: right;
    padding: 5px 16px !important;
}

#playlist-namecolumn {
    display: flex;
}

.unit {
    flex: 0 0 auto;
    padding: 5px 20px;
    color: #000000;
    

}

#playlist-namecolumn {
    background: #b5bdc8;
    justify-content: space-between;
}