.sum {
    // width: 100px;
    color: #28343b;
}
.money {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: #a1d54f;
	padding: 10px 20px;



    label {
        font-size: 10px;
    }

    input {
        width: 90px;
    }
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}