.sum {
    width: 100px;
    color: #28343b;
}
.money {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: #a1d54f;
	padding: 10px 20px;
}