    input {
        border: 1px solid #cccccc;
        outline: none;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        padding: 3px 10px 3px;
    }



.name {
    flex: 3;
    padding: 0 10px 0 0;
    input {
        width: 100%;
        background: transparent;
        text-align: left;
        &:hover,
        &:focus {
            background: #ffffff;
        }
    }
}