    input {
        border: 1px solid #cccccc;
        outline: none;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        padding: 3px 10px 3px;
    }



.name {
    flex: 3;
    padding: 0 10px 0 0;
    input {
        width: 100%;
        background: transparent;
        text-align: left;
        &:hover,
        &:focus {
            background: #ffffff;
        }
    }
}


.btn-calc,
.sum-update {
    color: white;
    border: 3px solid rgb(10, 3, 3);
    background-color: rgb(3, 206, 37);

    &:hover {
        background-color: rgb(2, 133, 8);
    }
}

.btn-calc {
    margin-left: 10px;
}

.money {
    margin-bottom: 20px;
    .field {
        display: flex;
        flex-flow: column;
        
    }
}
.counts {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}