.player {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;
}

.name {
    flex: 3;
}

.buyin-check {
    margin-right: 5px;
    input {
        width: 80px;
    }
}

.rebuy-count {
    flex: 1;
    input {
        width: 80px;
    }
}

.d-butts {
    margin-right: 10px;
}

.d-butts,
.delete {
    display: flex;
    button {
        border: none;
        padding: 3px 10px;
    }
}