.player {
    display: flex;
    flex-flow: row nowrap;
    // border: 2px solid transparent;
    height: 34px;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    background: #c6c9cc;
    margin-bottom: 5px;
    transition: all 0.5s;
    
}
.player.mgBottom {
    margin-bottom: 10px;
}
.player > div {
    margin: 0;
    padding: 0 20px;
    height: 30px;
}


.player {
        input {
            padding: 0 15px 2px;
            width: 100%;
            height: 24px;
            font-size: 17px;
            font-weight: 400;
            display: inline-block;
            background: #eeeeee;
            transition: all 0.4s;
            border-radius: 0;
            outline: none;
    
            &:hover {
                cursor: pointer;
                background: #daeedb;
            }
    
            &:focus {
                border-radius: 0;
            }
        }
}