#playlist {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}






.d-butts {
    padding: 0;
    // width: 35px;
    button {
        width: 100%;
        height: 100%;
        // height: 32px;
        color: rgba(255, 255, 255, 0.2);
        font-weight: 700;
        transition: all .3s ease 0.2s;
        cursor: pointer;
        border: none;
        background: transparent;
        transition: all 0.5s;
        &:hover {
            color: rgba(255, 255, 255, 1);
            background: #f85032;
        }
    }
}


.name {
    width: 300px;
}

.buyin-check {
    width: 80px;
}

.buyin-check input {
    width: 80px;
}

.rebuy-count {
    flex: 0 0 auto;
    width: 80px;
}

.rebuy-count input {
    width: 80px;
}

.addon-count {
    width: 10px;
}

.delete button {
    background-color: transparent;
    border: none;
    color: #dd9889;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    &:hover {
        color: #f85032;
        font-weight: 700;
        // background: #6b6362;
    }
}

td input[type="number"] {
    padding-right: 0;
}
